---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
  projectUrl: string;
}

const { title, description, image, projectUrl } = Astro.props;
---

<div class="column is-one-third">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <Image src={image} alt={title} quality={"low"} />
      </figure>
    </div>
    <div class="card-content">
      <p class="title is-4">{title}</p>
      <p class="subtitle is-6">{description}</p>
      <a href={projectUrl} class="button is-link">View Project</a>
    </div>
  </div>
</div>
