---
import type { BlogPost } from "@/api/BlogClient";

interface Props {
  size?: "small" | "medium" | "large";
  showTitle?: boolean;
  showDescription?: boolean;
  showContent?: boolean;
  showComments?: boolean;
  showBanner?: boolean;
  showLink?: boolean;
  post: BlogPost;
}

const {
  post,
  size = "medium",
  showTitle = true,
  showDescription = true,
  showContent = false,
  showComments = false,
  showBanner = true,
  showLink = false,
} = Astro.props;
---

<article class={`card is-${size} blog-post-card`} transition:name={`post-${post.title}`}>
  {
    showBanner && (
      <section class="card-image" transition:name={`post-image-${post.title}`}>
        <figure class="image">
          <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Placeholder image" />
        </figure>
      </section>
    )
  }

  <section class="card-content" transition:name={`post-content-${post.title}`}>
    {
      showTitle && (
        <div class="media" transition:name={`post-title-${post.title}`}>
          <div class="media-content">
            <p class="title is-4">{post.title}</p>
            {showDescription && <p class="subtitle is-6">{post.content}</p>}
          </div>
        </div>
      )
    }

    <div class="content" transition:name={`post-main-content-${post.title}`}>
      {
        showContent && (
          <section class="section">
            <p>{post.content}</p>
          </section>
        )
      }

      {
        showLink && (
          <a
            href={`/blog/posts/${post.id!.id.String}`}
            class="button is-primary"
            transition:name={`post-link-${post.title}`}
          >
            Read more
          </a>
        )
      }
    </div>

    <!-- comments will go here later -->
  </section>
</article>

<style lang="scss">
  .card {
    overflow: hidden;

    &.is-small {
      max-width: 20rem;
    }

    &.is-medium {
      max-width: 30rem;
    }

    &.is-large {
      max-width: 60rem;
    }

    .card-image {
      overflow: hidden;
    }

    .card-content {
      padding: 1rem;

      .title {
        margin-bottom: 0.5rem;
      }

      .content {
        p {
          margin: 0;
        }
      }
    }
  }
</style>
